.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
input{
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}
span{
    font-size: 12px;
    padding: 1px;
    color: red;
    display: none;
  }

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}